/* CSS Document */

#social-media {
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}



.service-charge {
	display:none;
}

.ticket-list .ticket-name {
	width:200px;
}

html .ticket-list .ticket-price-container {
	text-align:right;
	width:50px;
	padding:2px;
	font-size:11px;
}


html.ticket-list .ticket-name {
	font-size:14px;
}


html .when-where {
	font-weight:bold;
	font-size:15px;
	line-height:22px;
	margin-top:10px;
	margin-bottom:5px;
}