#venue_list {
	font-size:20px;
}
#venue_list span {
	font-size:12px;
	display:block;
}
ul#venue_list {
	list-style:decimal;
	border-top-style:solid;
	border-top-width:2px;
	border-bottom-style:solid;
	border-bottom-width:2px;
	padding:10px 0;
	margin-left:0;
	margin-bottom:20px;
}
ul#venue_list li {
	margin-left:2em;
	padding:5px 0;
}
ul#venue_list  li a {
	color:#959595;
}